[user]
	name = Eugene Cherny
	email = iam@oscii.ru
[alias]
	a = add
	b = branch
	c = commit
	co = checkout
	s = status
	last = log -1 HEAD
	l = log --pretty=format:'%Cblue%h %Cgreen%cd%Creset %s %Cgreen%cn' --date=short
	unstage = reset HEAD --
[core]
	editor = nvim
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
