[user]
  name = Eugene Cherny
  email = iam@oscii.ru
[alias]
  a = add
  af = add -f
  b = branch
  c = commit
  cs = commit -m 'sync'
  co = checkout
  d = diff
  s = status
  last = log -1 HEAD
  l = log --pretty=format:'%Cblue%h %Cgreen%cd%Creset %s %Cgreen%cn' --date=short
  unstage = reset HEAD --
[core]
  editor = vim
  autocrlf = input
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
